* {
    margin: 0;
    padding: 0;
    text-align: center;
}

div {
    width: 100%;
}

h1 {
    font-size: x-large;
}

.bold {
    font-weight: bold;
}

.highlight {
    color: royalblue;
}

.itallic {
    font-style: italic;
}

.monkey {
    color: brown;
}

.monkey::after {
    content: "\1F648";
}

div.bar div {
    max-width: 200px;
    display: inline-block;
    color: white;
    background-color: black;
    outline: 1px solid gray;
}

div.tab[active="true"] {
    font-weight: 900;
    background-color: white;
    color: black;
}